storage:
  dbPath: C:\DATA
  directoryPerDB: true
  journal:
    enabled: true

systemLog:
  quiet: true
  #destination: file
  #logAppend: true
  #path:  C:\DATA\log\mongod.log

net:
  port: 27017
  bindIp: 127.0.0.1

replication:
   replSetName: MyRepSet

# initialize the replica set in mongo console with rs.initiate()