blockquote{
  font-size: 0.9em;
  background-color: #fffbe8;
}

.alert {
  padding: 7px;
}

.alert h5{
  margin-bottom: 0;
}

.alert a{
  color: black;
}

.alert-info{
  color: #32789a;
  background-color: #ebf8ff;
  border-color: #d0f7ff;
}

code{
  padding: 0;
}

.navbar-brand {
  padding: 1px;
}